// Place all the styles related to the Plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr.dead {
  background-color: #BFBFD4;
}

tr.five {
  background-color: #00B85C;
}


tr.one {
  background-color: #00CC66;
}

tr.grow {
  background-color: #66E0A3;
}


tr.cut {
  background-color: #99EBC2;
}
